body,
.App {
    height: 100vh;
}

.progress-bar {
    display: flex;
    margin-bottom: 10px;

    &__one {
    }

    &__two {
    }

    &__three {
    }
}

.progress-legend {
    display: flex;
    justify-content: space-between;
}

.legend {
    display: flex;
    position: relative;
    font-size: 20px;
    &__color {
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }

    &__element {
        display: flex;
        align-items: flex-end;
        margin-right: 10px;
    }
}

.block-line {
    display: flex;
    justify-content: flex-end;

    &__line {
        margin-right: 2px;
        width: 8px;
        height: 20px;

        border-radius: 25%;
    }
}
